@model IEnumerable<CartItemWithDetailsServiceModel>
@{
    ViewData["Title"] = "Home Page";
}

@foreach (var car in Model)
{
    <div class="col-sm-6 col-md-4 col-lg-3 p-b-35  isotope-item women">
        <!-- Block2 -->
        <div class="block2">
            <div class="block2-pic hov-img0">
                <a class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6"
                   asp-controller="Cars" asp-action=@nameof(CarsController.Details)
                   asp-route-id=@car.CarId>
                    <img src=@car.ImageUrl alt=@car.CarTitle width="287" height="175" asp-append-version="true" />
                </a>
            </div>
            <div class="block2-txt flex-w flex-t p-t-14">
                <div class="block2-txt-child1 flex-col-l ">
                    <a class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6"
                       asp-controller="Cars" asp-action=@nameof(CarsController.Details)
                       asp-route-id=@car.CarId>
                        <h3>@car.BrandName</h3>
                    </a>
                    <a class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6"
                       asp-controller="Cars" asp-action=@nameof(CarsController.Details)
                       asp-route-id=@car.CarId>
                        <span class="stext-101 m-t-4">
                            @car.CarTitle
                        </span>
                    </a>
                    <span class="stext-101 m-t-4">
                        @car.CarType        @car.ReleaseDate.ToString("yyyy")
                    </span>
                    <span class="stext-108">
                        Engine: @car.Engine -  @car.Fuel
                    </span>

                    <div class="stext-109">
                        @car.ExtraName
                    </div>
                    <div class="stext-109">
                        Net Price <b>@((car.Price * (1 - (decimal)car.Discount / 100)).ToCurrency())</b>
                    </div>
                    <div class="stext-109">
                        <a asp-area="" asp-controller="ShoppingCart" asp-action=@nameof(ShoppingCartController.AddToCart)
                           asp-route-carId=@car.CarId asp-route-extraId=@car.ExtraId
                           class="btn btn-default  btn-sm m-t-9">Add to Cart</a>
                    </div>
                </div>
                <div class="block2-txt-child2 flex-r p-t-3">
                    <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                        <img class="icon-heart1 dis-block trans-04" src="~/images/icons/icon-heart-01.png" alt="ICON">
                        <img class="icon-heart2 dis-block trans-04 ab-t-l" src="~/images/icons/icon-heart-02.png" alt="ICON">
                    </a>
                </div>
            </div>
        </div>
    </div>
}