@model CarDetailsServiceModel

<div class="col-md-12">
    <div class="col-md-6">
        <img class="img-responsive" src=@Model.ImageUrl alt=@Model.Title />
    </div>
    <div class="col-md-5">
        <h1>
            @Model.BrandName
        </h1>
        <div>
            <span class="stext-106">Dealers: &nbsp;</span> @foreach (var dealer in Model.Dealers.OrderBy(a => a.DealerName))
            {
                <b>@dealer.DealerName</b>
            }
        </div>
        <h3 class="mtext-109 m-t-11">
             @Model.Title 
        </h3>
        <p class="mtext-117 m-t-12">@Model.Description</p>

        <hr />
        <table>
            <tbody>
                <tr>
                    <td><span class="stext-106">Release Date: </span><b>&nbsp;@(((DateTime)Model.ReleaseDate).ToDate())</b></td>
                </tr>
                <tr>
                    <td><span class="stext-106">Engine: </span><b>&nbsp;@Model.Engine</b></td>
                </tr>
                <tr>
                    <td><span class="stext-106">Transmission: </span><b>&nbsp;@Model.Transmission</b></td>
                </tr>
                <tr>
                    <td><span class="stext-106">Fuel: </span><b>&nbsp;@Model.FuelType</b></td>
                </tr>
                <tr>
                    <td><span class="stext-106">Test Drive: </span><b>&nbsp;@Model.Length km</b></td>
                </tr>

                @foreach (var extra in Model.Extras.OrderBy(f => f.Price))
                {
                    <tr>
                        <td><span class="stext-106">Availability: </span><b>&nbsp;@extra.Quantity</b></td>
                    </tr>
                    <tr>
                        <td class="stext-106">Price with: <b> &nbsp;@extra.ExtraName</b></td>
                    </tr>
                    <tr>
                        <td class="mtext-109"><br /><b>@extra.Price.ToCurrency()</b></td>
                    </tr>

                    @if (extra.Quantity > 0)
                    {
                        <tr>
                            <td>
                                <a asp-area=""
                                   asp-controller="ShoppingCart"
                                   asp-action=@nameof(ShoppingCartController.AddToCart)
                                   asp-route-recordingId=@Model.Id
                                   asp-route-formatId=@extra.ExtraId
                                   class="btn btn-default m-t-15">Add to Cart</a>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>
                                @extra.ExtraName - Currently Not in Stock
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>